.reviews {
    padding: 150px 13% 0;
}

.reviews h2 {
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: rgba(41, 41, 41, 1);
    margin-bottom: 40px;
}

.review-item {
    display: flex;
    gap: 35px;
}

.review-item img {
    width: 206px;
    height: 207px;
    border-radius: 50%;
}

.review-content {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.review-title {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 25px;
}

.review-content p {
    color: rgba(146, 143, 148, 1);
    font-weight: 300;
    max-width: 400px;
}

.review-content p span {
    font-size: 36px;
    font-weight: 500;
    position: absolute;
}

.quotesLT {
    left: -20px;
    top: 40px;
}

.quotesRB {
    margin-left: 10px;
    margin-top: 5px;
}

.slick-dots {
    bottom: -120px !important;
}

.slick-dots li button:before {
    font-size: 20px !important;
    color: rgba(229, 229, 229, 1) !important;
    opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
    color: rgba(196, 196, 196, 1) !important;
    opacity: 1 !important;
}
