.trains-page {
    padding-top: 95px;
}

.trains-content {
    display: flex;
    gap: 85px;
}

aside {
    max-width: 364px;
}

.tripDetails {
    background-color: #3E3C41;
}

.filter-section {
    border-bottom: 1px solid #E5E5E5;
}

.filter-section-container {
    padding: 43px 35px 33px 28px;
}

.filter-section:last-child {
    border-bottom: none;
}

.filter-section h3 {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
}

.date-input-container {
    position: relative;
}

.date-input-container:nth-of-type(1) {
    margin-bottom: 30px;
}

.date-input-container input {
    min-width: 295px;
    max-width: 295px;
    min-height: 43px;
    max-height: 43px;
    border: none;
    outline: none;
    padding: 11px 20px 11px 8px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.date-input-container input::placeholder {
    color: #e5e5e5;
}

.date-input-container img {
    position: absolute;
    top: 32px;
    right: 10px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 22px;
    cursor: pointer;
}

.checkbox-group {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px 34px 21px 61px;
}

/* filter */

.filter {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.filter img {
    margin-right: 35px;
    width: 24px;
    height: 24px;
}

.filter span {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.switch {
    margin-left: auto;
    display: inline-block;
    position: relative;
    width: 72px;
    height: 19px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.switch__control {
    opacity: 1;
    appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
    outline: none;
}

.switch__toggle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #C4C4C4;
    transition: .2s linear;
    cursor: pointer;
}

.switch__control:checked+.switch__toggle {
    left: 45px;
    background: #FFA800;
}

.switch__control:checked {
    background: #FCDC9D;
}

/* price */

.filter-section.cost {
    padding: 35px;
}

.price-range {
    position: relative;
}

.price-slider {
    position: relative;
    height: 24px;
    margin: 7px 0;
}

.price-slider .track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 19px;
    background: transparent;
    border-radius: 12px;
    border: 1px solid #c4c4c4;
}

.price-slider .range {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 19px;
    background: #FFA800;
    border-radius: 12px;
    outline: none;
}

.range-input {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: none;
    pointer-events: none;
    /* перекрываем клики треку */
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: auto;
    /* возвращаем клики на кружок */
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.range-input::-moz-range-thumb {
    pointer-events: auto;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
}

.range-block {
    display: flex;
    justify-content: space-between;
    color: #E5E5E5;
}

.range-block.white {
    color: #fff;
    margin-top: 10px;
    padding: 0 5px;
}

/* directions */

.direction-content {
    padding: 35px;
}

.direction-content-header {
    display: flex;
    align-items: center;
}

.direction-content-header img {
    width: 32px;
    height: 26px;
    margin-right: 12px;
}

.direction-content-header h3 {
    font-weight: 700;
    font-size: 30px;
}

.plus {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    transition: .2s linear;
}

.plus::after,
.plus::before {
    content: '';
    width: 2px;
    height: 16px;
    display: block;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s ease;
}

.plus::before {
    rotate: 270deg;
    top: 1px;
    left: 17px;
}

.plus:hover {
    border-color: #FCDC9D;
}

.plus:hover::after {
    background-color: #FCDC9D;
}

.plus:hover::before {
    background-color: #FCDC9D;
}


.plus.active {
    border-color: #C4C4C4;
}

.plus.active::before {
    background-color: #C4C4C4;
}

.plus.active::after {
    opacity: 0;
}


.direction-content.fromCity {
    border-top: 1px solid #E5E5E5;
}

.direction-content.fromCity .direction-content-header img {
    transform: rotate(180deg);
}

.direction-inner {
    opacity: 0;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.direction-inner.show {
    opacity: 1;
    height: auto;
}

.direction-inner.show .inputs {
    display: flex;
}

.inputs {
    display: none;
    flex-direction: column;
    gap: 45px;
    margin-top: 20px;
    color: #E5E5E5;
}

.from>.div,
.to>.div {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.to>.div {
    text-align: right;
}


.inputs .range-wrapper {
    position: relative;
    height: 18px;
}

.inputs .track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 6px;
    background: #C4C4C4;
    border-radius: 6px;
}

.inputs .range {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    background: #FFA800;
    border-radius: 6px;
}

.inputs .range-input {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
    width: 100%;
    background: none;
    pointer-events: none;
}

.inputs .range-input::-webkit-slider-thumb {
    appearance: none;
    pointer-events: auto;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid #FFA800;
    border-radius: 50%;
}

.inputs .block-time {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}


/* last-tickets */

.last-tickets {
    margin-top: 94px;
}

.last-tickets h3 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.tickets-list {
    display: flex;
    flex-direction: column;
    gap: 17px;
    list-style: none;
}

.tickets-list li {
    background-color: #fff;
    padding: 18px 12px 8px 18px;
    border: 1px solid #C4C4C4;
}

.listTicket-header {
    padding-right: 6px;
    margin-bottom: 40px;
}

.fromToCity {
    display: flex;
    justify-content: space-between;
    color: #292929;
}

.fromToCity span {
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
}

.railway-station {
    display: flex;
    justify-content: space-between;
}

.railway-station span {
    color: #928F94;
    font-size: 16px;
    font-weight: 400;
    max-width: 105px;
}

.railway-station span:nth-of-type(2) {
    text-align: right;
}

.listTicket-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    gap: 18px;
}

.icons img {
    width: 20px;
    height: 20px;
}

.prices div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.prices .ot {
    position: relative;
    top: 5px;
    color: #928F94;
    font-size: 16px;
    font-weight: 400;
}

.price {
    color: #FFA800;
    font-size: 36px;
    font-weight: 700;
}

.ruble {
    color: #928F94;
    font-size: 36px;
}


/* loading-progress */

.loading-progress {
    width: 100%;
    min-height: 775px;
    position: relative;
}

.loading-progress .progress-container {
    width: 100%;
    background: #3E3C41;
}

.loading-progress .progress-bar {
    position: relative;
    width: 100%;
    height: 8px;
    background: #C4C4C4;
}

.loading-progress .progress-fill {
    height: 100%;
    background: #FFA800;
    transition: width .2s ease;
}

.progress-content {
    margin: auto;
}

.loading-progress .progress-text {
    color: #928F94;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.loading-progress iframe {
    overflow: hidden;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    z-index: 1;
}

/* results */

.tickets {
    width: 100%;
    max-width: 1000px;
}

.results-header {
    display: flex;
    justify-content: space-between;
}

.results-info span {
    color: #928F94;
    font-size: 18px;
    font-weight: 400;
}

.results-controls {
    display: flex;
    gap: 50px;
}

.sort-controls,
.limit-controls {
    color: #928F94;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sort-dropdown {
    position: relative;
}

.sort-options {
    background-color: #F7F5F9;
    position: absolute;
    top: -8px;
    left: -7px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.sort-options li {
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 11px 10px 7px;
    transition: .1s linear;
    color: #000;
}

.sort-options li:hover {
    background-color: #FFCA62;
    color: #fff;
}

.sort-options li:last-child {
    border-bottom: none;
}

.sort-options li,
.sort-text {
    cursor: pointer;
}

.activeTextSort {
    color: #000;
}

.limit-buttons {
    display: flex;
    gap: 10px;
}

.limit-buttons li {
    cursor: pointer;
}

.results-list {
    display: flex;
    flex-direction: column;
    gap: 47px;
    margin-top: 47px;
    margin-bottom: 142px;
}

.route-card {
    background-color: #fff;
    border: 1px solid #c4c4c4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.card {
    width: 100%;
}

.card-inner {
    display: flex;
}

.train-info {
    display: flex;
    flex-direction: column;
    padding: 32px 18px 31px 26px;
    gap: 10px;
    background-color: #E4E0E9;
    width: 20.5%;
    max-width: 197px;
    box-sizing: border-box;
}

.train-img {
    width: 86px;
    height: 86px;
    margin-bottom: 17px;
}

.train-number {
    color: #3E3C41;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.train-direction {
    font-size: 18px;
    font-weight: 400;
    color: #292929;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.train-time {
    border-right: 1px dashed #E5E5E5;
    width: 50%;
    display: flex;
    gap: 40px;
    padding: 54px 39px 31px;
}

.departure,
.arrival,
.inTrip {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.departure span:first-child,
.arrival span:first-child {
    font-size: 24px;
    font-weight: 700;
}

.departure span:nth-child(2),
.arrival span:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.departure span:nth-child(3),
.arrival span:nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    color: #928F94;
}

.inTrip {
    align-items: center;
    gap: 7px;
}

.inTrip span {
    color: #c4c4c4;
    font-size: 18px;
    font-weight: 400;
}

.inTrip img {
    width: 30px;
    height: 20px;
}

.train-about {
    width: 25.8%;
    padding: 41px 22px 22px 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.train-about>ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.train-about>ul>li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.train-about>ul>li>span:first-child {
    width: 80px;
    color: #3E3C41;
    font-size: 16px;
    font-weight: 400;
}

.seats-menu {
    position: relative;
}

.seats-info-count,
.dropdown-seats-menu>li>span:nth-child(2) {
    color: #FFA800;
    font-weight: 500;
}

.seats-menu:hover .dropdown-seats-menu {
    display: block;
}

.dropdown-seats-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 100;
    background-color: #f5f4f6;
    padding: 17px 17px 17px 32px;
    width: 276px;
    box-sizing: border-box;
    border-radius: 5px;
}

/* .dropdown-seats-menu::before {} */

.dropdown-seats-menu>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
}

.dropdown-seats-menu>li>span:nth-child(1) {
    width: 70px;
}

.dropdown-seats-menu>li>div {
    display: flex;
    gap: 5px;
}

.price-info {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.price-info>span:first-child {
    color: #928F94;
}

.price-info>span:nth-child(2),
.dropdown-seats-menu>li>div>span:first-child {
    color: #2D2B2F;
    font-size: 24px;
    font-weight: 700;
}

.price-info>span:nth-child(3),
.dropdown-seats-menu>li>div>span:nth-child(2) {
    color: #928F94;
    font-size: 24px;
    font-weight: 400;
}

.futures {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.futures>ul {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.futures>ul>li>img {
    width: 20px;
    height: 20px;
}

.futures>a {
    text-align: center;
    padding: 6px 19px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background-color: #FFA800;
    max-width: 228px;
    font-size: 24px;
    font-weight: 700;

    transition: box-shadow .1s linear;
}

.futures>a:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* pagination */

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
}

.pagination-btn.prev svg {
    rotate: 180deg;
}

.pagination-btn:hover {
    border-color: #FFA800;
    fill: #FFA800;
    cursor: pointer;
}

.pagination-btn, .pagination-list li {
    background-color: transparent;
    width: 86px;
    height: 75px;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: .15s linear;


    fill: #928F94;
}

.pagination-list {
    display: flex;
    gap: 35px;
    margin: 0 35px;
}

.pagination-list li {
    font-size: 30px;
    font-weight: 700;
    color: #928F94;
}

.page-item:not(.active):hover {
    border-color: #FFA800;
    color: #FFA800;
    cursor: pointer;
}

.page-item.active {
    background-color: #FFA800;
    color: #fff;
    border-color: #FFA800;
}

